html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
 
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/* all pages css */
.page-all{
  /* background-color: blue; */
  width: 100%;
  margin-left: 0%;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 100px; */

}


/* \\Navbar */
nav{
  height: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid; */
  padding: 1%;
  height:auto;
  align-items: center;
  /* background-color: blue; */
  
}
.menu-icon{
  display: none;
  color: white;
  font-size: 30px;
}
.navigation-bar{
  display: flex;
  flex-direction: row;
  flex: 4;
  justify-content:left;
  align-content: flex-start;
  /* border: 1px solid; */
  
}
.company-logo{
  height: 60px;
  width: 120px;
  border-radius: 15px;
}
.navigation-menu-bar{
  display: flex;
  flex-direction: row;
  flex: 4;
  /* border: 1px solid; */
  /* margin-left: 10px; */
  justify-content: space-between;
  /* background-color: black; */
  padding: 8px 15px 8px 15px;
  border-radius: 15px;
  
  /* text-align: end; */
}
.logo-name{
  /* background-color: blue; */
  justify-content: center;
  text-align: center;
  font-weight: 800;
  color: wheat;
  font-size: 20px;
}
.menu-bar{
  /* border: 1px solid; */
  align-items:center;
  color: white;
  font-weight: 700;
  
}



/* index css */
.home_page{
  background-image: url("/mainbg.jpg") ;
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 55vh;
  
  /* border: 1px solid; */

}

/* search bar */
.serachbar-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1%;
  color: white;
  font-weight: 700;
  font-size: larger;
 
  align-items: center;
}
.searchbar-subContainer{
  display: flex;
  flex-direction: column;
  
  width: 70%;
  color: black;
  /* border: 1px solid ; */
  background-color: white;
  padding: 10px;
  border-radius: 15px 15px 0px 0px ;

  border-color: rgb(84, 148, 221);
  border-style: solid;
  border-width: 1px 1px 1px 1px;

}



.subsearchbar{
  display: flex;
  flex-direction: row;
  
  /* border: 1px solid  blue; */
  
}


.searchbar-infobar input{
  /* width: 90%; */
  height: 27px;
  font-weight: 100;
  font-size: 12px;
  color: grey;
  padding-left: 8px;
}

.searchbar-subinfo1{
  font-size: small;
  font-weight: 500;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  /* justify-content: space-between; */
}

.subsearchbar ul{
  display: flex;
  flex-direction: column;
  width: 250px;
}

.searchbar-trip{
  /* justify-content: space-around; */
  padding: 8px;
  font-size:large;
  font-weight: 100;
  /* border: 1px solid; */
}
.searchbar-trip .trip-option {
  width: 150px;
  margin-left:8px ;
}

.searchbar-header{
border-bottom: 1px solid;
/* align-items: flex-end; */
display: flex;
padding:10px 15px 0px 15px;
justify-content: center;

}
.btn-viewdetail{
 color: white;
  background-color:rgb(99, 207, 221) ;
  border: none;
  height: 27px;
 border-radius: 5px;
}
.searchpage_reset_btn{
    
    text-align: center;
}
.btn-reset{
  color: white;
  background-color:rgb(226, 107, 86) ;
  border: none;
  padding: 0px 40px 0px 40px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
}


/* alert component  */
.alert-homepage{
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items:center;
  text-align:justify;
  
  /* text-align:justify ; */
  /* margin-top: -10%; */
  color: rgb(10, 10, 10);
  background-color: yellow;
  font-weight: 700;
  font-size: small;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;


}

.alert-logo{
  font-size: larger;
  flex: 1;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  /* border: 1px solid; */
  /* columns: red ; */
  /* background-color: red; */
}
.alert-msg{
  flex: 11;
  padding: 7px;
}


/* Package  */

.package-header{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: flex-start; */
  /* border: 1px solid; */
  text-align:center;
  justify-content: center;
  width: 95%;
  margin-top: 10px;
  margin: 1%;
  padding: 5px 15px 5px 15px ;
  border-radius: 5px;
  background-color: #e6dddd;
  min-height: 60px;
  
}

.package {
  font-size: 18px ;
  font-weight: 600;
  /* margin-bottom: 1%; */
  
}


.package-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* text-align:justify; */
  width: 95%;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  
}

.table_view_btn{
  display: flex;
  justify-content: flex-end;
  
}
.table_view_btn .btn{
  margin-left: 10px;
  
}
.card-container{
  display: flex;
  flex-direction: row;
  width: 485px;
  padding: 0px;
  border-radius: 5px;
  border: 1px solid;
  height: 160px;
  background-color: beige;
  /* margin-right: 10px; */
  margin-bottom: 10px;
  align-items: center;
  justify-items: center;
  
  
  
}
.card-img-container{
  flex:1;
  display: flex;
  border-radius: 15px;
  /* border: 1px solid; */
  width: 100%;
  height: 100%;
  /* margin-top: 5%; */
  position: relative;
  /* align-items: center;
  justify-items: center;
  text-align: center;
  overflow: hidden; */
  /* background-color: rgb(241, 248, 248); */
 
}

.card-img{
  padding: 2px;
  border-radius: 5px;
  
}

.card-detail{
  flex:1;
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  margin-left: 5px;
  justify-content: space-between;
  padding: 5px;
}
.card-title{
  font-size: 14px;
  font-weight:bold;
}
.card-info{
  font-size: 12px;
  margin-top: 2px;
}
.card-price{
  display: flex;
  font-size: 15px;
  font-weight: bold;
  align-items: flex-end;
  justify-content: flex-end;
  /* border: 1px solid */
  
}


/* Explore more  */
.explore-main{
  margin-top: 10px;
  width: 70%;
  

}
.explore-container{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  /* for smaller screen */
  /* justify-content: center; */
  flex-wrap: wrap;

  
}

.explore{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 32%;
  min-width: 250px;
  justify-content: space-between;
  background-color: rgb(216, 211, 211);
  border-radius: 5px;
  margin-bottom: 15px;
 
  
}
.explore-title{
  flex:1;
  display: flex;
  border-radius: 15px;
  /* border: 1px solid; */
  width: 100%;
  height: 80%;
  position: relative;
  align-items: center;
  text-align: center;
}
.explore-detail {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 40px;
  text-align: justify;
 
}
.explore-header{
  font-size: 13px;
  font-weight: 500;
}
.explore-info{
  font-size: 8px;
  font-weight: 200;

}

/* Footer */

.footer_container{
  background-color: rgb(161, 195, 245);
  display: flex;
  flex-direction: row;
  width: 100%;
  /* padding: 10px; */
  /* border: 1px solid; */
}
.footer_subcontainer0{
  width: 13%;
}
.footer_subcontainer1{
  width: 70%;
  margin: 25px;
  /* margin-left: 15%; */
  /* border: 1px solid; */
  
  display: flex;
  flex-direction: column;
  
}


.footer_link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;

}
.footer_link ul{
  display: flex;
  font-size: 12px;
  font-weight: 100;
  margin: 2px;
  padding: 0px;
  padding-left: 2px;
}
.footer_icon{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* border: 1px solid; */
}

.social-media , .app-store{
  display: flex;
  flex-direction: column;
  
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-right: 0px;
}
.social_media-link, .app-store-icon{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding-right: 0px;

  /* border: 1px solid; */
  
}
.social_media-link ul, .app-store-icon ul{
  margin: 5px;

}

.footer_subcontainer2{
  flex: 1;
  display: flex;
  align-items: center;
  text-align:center;
  justify-content:right;
  /* border: 1px solid; */
  /* height: 100px; */
  /* background-color: rgb(92, 131, 216); */
  border-radius: 15px;
  /* border: 1px solid; */
  /* width: 100%; */
  
}

.footer-go2top{
  display: flex;
  align-items:center;
  text-align: center;
  justify-content:  center ;
  background-color: rgb(66, 66, 241);
  height: 70px;
  width: 100px;
  border-radius: 5px 0px 0px 5px;
  /* border: 1px solid; */
  
}


/* About Us page  */

.aboutus-container {
  width: 70%;
  margin-top: -7%;
  background-color: rgb(250, 250, 244);
  padding: 15px;
  border-radius: 15px 15px 0px 0px ;
  border-color: red;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  margin-bottom: 8%;
}
#text{
  display: flex;

  width: 100%;
  height: 100%;
  color: rgb(51, 51, 51);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(51, 51, 51);
  font-size: 40px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
  justify-items: center;

  /* display: none; */
}
#intro{
  display: flex;
  margin-left: 15%;
  width: 70%;
  height: 100%;
  color: rgb(51, 51, 51);
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  color: rgb(51, 51, 51);
  font-size: 15px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
  /* border: 1px solid; */
  flex:1;
  letter-spacing: 1px;
  


}

#about-us-text{
  color: #999999;
  /* margin-top: 250px; */
  margin-left: 0px;
  font-size: 12px;
  letter-spacing: 1px;
  width: 90%;
  align-items:center;
  justify-content:center;
  text-align:justify;
  line-height: 31px;
  flex:1;
 
}
.aboutus_subhead{
  display: flex;
  background-color: #faf5f5;
  margin-bottom: 15px;
  border-radius: 5px;

}
.aboutus_subhead_header_title{
  font-size: 18px;
  font-weight: 500;
  flex:4;
  align-self: center;
  text-align: center;
  padding: 10px;
}

.aboutus_subhead_header_info{
  flex:6;
  align-self: center;
  padding: 15px;
  text-align: center;
  color: #999999;
  
  
}

/* contact page  */
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100%;
    width: 70%;
    margin-top: -7%;
    background-color: rgb(250, 250, 244);
    padding: 15px;
    border-radius: 15px 15px 0px 0px ;
    margin-bottom: 8%;

    border-color: red;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
  
}

.contact-form{
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */

}

.form-container{
    display: flex;
    margin-bottom: 5%;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-label{
  flex:1;
  min-width: 100px;
}
.form-control{
  flex:4;
  min-width: 250px;
}
.form-msg-area{
  min-height: 100px;
}
.btn-form_submit{
  display: flex;
  justify-content: center;
}
.btn-danger{
  
  display: flex;
  border: 1px solid;
  justify-content: center;
  width: 40%;
  padding: 5px 15px 5px 15px ;
  border-radius: 5px;
  background-color: rgb(204, 197, 197);
  color: black;
  
}

/* LOgin Form */
.login-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 10px;
  /* height: 40vh; */
  width: 50%;
  margin-top: -7%;
  background-color: rgb(250, 250, 244);
  /* padding: 50px; */
  border-radius: 15px 15px 0px 0px ;
  margin-bottom: 8%;

  border-color: red;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  /* border: 1px solid; */


} 
.login-form-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* height: 65px; */
  width: 100%;
  /* border: 1px solid; */
  /* background-color: black; */
  align-items: center;
  padding: 30px 50px 10px 50px;
  border-color: rgb(185, 176, 176);
  margin-bottom: 15px;
  box-shadow: 0 10px 20px rgba(161, 150, 150, 0.418);
  font-size: 25px;
  font-weight: 600;

}

.login-alreadymember{
  flex:9;
  color: rgb(180, 149, 80);
  font-size: 25px;
  /* font-size: 1%; */

}

.login-needhelp{
  display: flex;
  flex:3;
  color: rgb(75, 140, 201);
  font-size:8px;
  align-items: flex-end;
  /* border: 1px solid; */
}

.login-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* font-size: 20px; */
  padding: 30px 50px 10px 50px;
  /* border: 1px solid; */
  justify-content: center;
  align-items: center;
  /* padding-bottom: 10px; */
  

}

.login-form input{
  min-height:50px ;
  width: 100%;
  margin-bottom: 3%;
  padding-left: 10px  ;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 8px;
  border: #806767;
  box-shadow: 0 20px 15px rgba(93, 135, 170, 0.418);
  font-size: 12px;
  /* font-size: 1vw; */
  font-weight: 550;
  color: rgb(61, 82, 141);
}
.btn-login{
  margin-top: 5%;
  padding: 8px 20px 8px 20px;
  font-size: 20px;
  background-color: rgb(81, 113, 182);
  color: beige;
  box-shadow: 0 10px 5px rgba(100, 142, 177, 0.418);
  border-radius: 15px;
  margin-bottom: 2%;
}

.resister_user_title{
  font-weight: 800;
  color: #999999;
  font-size: 15px;
}
.resister_user_link{
  font-weight: 800;
  color: #1b558b;
  font-size: 18px;
}

/* search result table */
.table_view{
  /* border: 1px solid; */
  margin: 5px 0px 10px 0px ;
}

.table_view{
  width: 100%;
}
.table_col{
  text-align: left;
  padding: 0px 0px 0px 10px ;
  /* border-left: 1px solid; */
}
table tr{
  /* display: block; */
  border: 1px solid;
  height: 30px;
  /* background-color: rgb(241, 233, 233); */
}
.col_id{
  
  text-align: center;
  width: 2%;
  padding: 1px 1px 1px 1px;
}
.col_area , .col_price{
  width: 15%;
}
.col_address, .col_detail{
  width: 40%;
}
.table_header{
  font-weight: bold;
  background-color: #c5afaf;
}

@media screen and (Min-width: 993px) {
  .navigation-menu-bar{
    background-color: black;
  }
}
@media screen and (max-width: 992px) {
  nav{
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* border: 5px solid blue; */
    align-items:baseline;
  }
  .navigation-bar{
    /* justify-content:left;
    align-items: flex-start; */
    flex: 9;
    border: 1px solid;
  }

  .navigation-menu-bar{
    flex:4;
    flex-direction: column;
    -ms-flex-align: end;
    align-items:flex-end;
    height: auto;
    
    /* justify-content:center; */
    /* background-color:#1b558b; */
    
    
  }
  .menu-icon{
    display:none;
    flex-direction:row-reverse;
  }
  .menu-bar{
      margin-top: 3%;
      align-items: center;
      justify-content: center;
      /* background-color: white; */
      text-align:right;
      background-color: black;
      color: white;
      padding: 8px 20px 8px 20px;
      border-radius: 15px
      ;
      

  }

  .footer_subcontainer2{
      display: none;
  
  }
  .footer_link{
    display: none;
  }
  .footer_subcontainer0{
    display: none;
  }
  /* .footer_container{
      border: 1px solid;
  } */

  .footer_subcontainer1{
    width: 100%;
    /* border: 1px solid; */
    align-items: center;
  }
  .login-container {
      width: 60%;
  }
}

@media screen and (max-width: 530px){
 .home_page{
  margin-bottom: 7%;
 }
  nav{
    flex-direction: column;
    align-items:center;
  }

  .navigation-menu-bar{
    
   align-items: center;
  }
  .app-store{
    display: none;
  }

  .contact-form{
    width: 100%;
  }
  
  .login-container {
    width: 90%;
  }
  .card-container{
   height: 320px;
   width: 300px;
    flex-direction: column;
  }
  

}